<section class="section" id="about">

    <div class="section__content section__content--fix-width section__content--padding">
        <div class="grid grid--5col grid--about">

            <div class="grid__item grid__item--x2">
                <h3 class="grid__title">Why you <span>should</span> choose us.</h3>
                <p class="grid__text">All the products we develop as a media house is kept to a very high standard. We do not get payed until our clients are happy with what they get.</p>
                <ul class="grid__list">
                    <li>Custom Code</li>
                    <li>Custom Designs</li>
                    <li>Cross-Device Compatibility</li>
                    <li>Great Support</li>
                </ul>

            </div>
            <div class="grid__item grid__item--x3">
                <div class="grid__image grid__image--right"><img src="images/desktop-frame-about.gif" alt="" title="" /></div>
            </div>
        </div>
    </div>

</section>