<section class="section section--cta" id="cta">
    <div class="section__content section__content--fix-width section__content--padding">
        <h2 class="section__title section__title--centered section__title--cta">Get Started With Us.</h2>
        <div class="section__description section__description--centered section__description--cta">
            Do you want us to develop a solution for you? The first step is to sign up as a client. That way you have access to your dashboard and package information.
        </div>
        <div class="intro__buttons intro__buttons--centered">
            <a href="index.html" class="btn btn--green-bg modal-toggle" data-openpopup="signuplogin" data-popup="signup">CREATE AN ACCOUNT</a>
        </div>
    </div>
    <svg class="svg-cta-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="#fff" points="0,100 100,0 0,0" />
    </svg>
</section>