<section class="section" id="contact">

    <div class="section__content section__content--fix-width section__content--padding">
        <h2 class="section__title section__title--centered">Get in touch</h2>
        <div class="section__description section__description--centered">
            Generally, every customer wants a product or service that solves their problem, worth their money, and is delivered with amazing customer service
        </div>

        <div class="grid grid--5col grid--contact">

            <div class="grid__item grid__item--x2 grid__item--padding">
                <h3 class="grid__title">Our <span>24/7 support team</span> is here to help you and make sure our product is up to date.</h3>
                <p class="grid__text">Would love to hear from you. Call us directly at:</p>
                <a href="tel:+27873545406" class="grid__more">+2787 354 5406</a>
            </div>
            <div class="grid__item grid__item--x3 grid__item--form">
                <div class="grid__form form">
                    <svg class="svg-form-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon fill="#313ee7" points="0,0 100,0 0,100" /></svg>
                    <form class="form__container" id="ContactForm" method="post" action="https://usebasin.com/f/5ad3de4c9812">

                        <div class="form__row">
                            <label class="form__label" for="namec">Name</label>
                            <input name="namec" id="namec" class="form__input" type="text" />
                            <span class="form__row-border"></span>
                        </div>
                        <div class="form__row">
                            <label class="form__label">Email</label>
                            <input name="emailc" class="form__input" type="text" />
                            <span class="form__row-border"></span>
                        </div>
                        <div class="form__row">
                            <label class="form__label">Message</label>
                            <textarea name="message" class="form__textarea" rows="3" cols="3"></textarea>
                            <span class="form__row-border"></span>
                        </div>


                        <input type="submit" name="submit" class="form__submit btn btn--green-bg" id="submitc" value="SEND MESSAGE" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>