<section class="section" id="contact">

    <div class="section__content section__content--fix-width section__content--padding">
        <h2 class="section__title section__title--centered">Get in touch</h2>
        <div class="section__description section__description--centered">
            Generally, every customer wants a product or service that solves their problem, worth their money, and is delivered with amazing customer service
        </div>

        <div class="grid grid--5col grid--contact">

            <div class="grid__item grid__item--x2 grid__item--padding">
                <h3 class="grid__title">Our <span>24/7 support team</span> is here to help you.</h3>
                <p class="grid__text">Would love to hear from you. Call us directly at:</p>
                <a href="tel:+80457888999" class="grid__more">(+27) 87 354 5406</a>
            </div>
            <div class="grid__item grid__item--x3 grid__item--form">
                <div class="grid__form form">
                    <svg class="svg-form-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon fill="#313ee7" points="0,0 100,0 0,100" /></svg>
                    <form class="form__container" id="ContactForm" method="post" action="https://usebasin.com/f/5ad3de4c9812">

                        <span class="form__input input input--effect">
                            <input name="namec" class="input__field input__field--effect" type="text" id="input-namec" />
                            <label class="input__label input__label--effect input__label--effect-color-1" for="input-namec">
                                <span class="input__label-content input__label-content--effect">Name</span>
                            </label>
                        </span>
                        <span class="form__input input input--effect">
                            <input name="emailc" class="input__field input__field--effect" type="text" id="input-emailc" />
                            <label class="input__label input__label--effect input__label--effect-color-1" for="input-emailc">
                                <span class="input__label-content input__label-content--effect">Email</span>
                            </label>
                        </span>

                        <span class="form__textarea textarea input--effect">
                            <textarea name="message" class="input__field input__field--effect" rows="4" cols="5" id="textarea-message"></textarea>
                            <label class="input__label input__label--effect input__label--effect-color-1" for="textarea-message">
                                <span class="input__label-content input__label-content--effect">Message</span>
                            </label>
                        </span>


                        <input type="submit" name="submit" class="form__submit btn btn--green-bg" id="submitc" value="Send" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>