<section class="section section--hiw" id="description">

    <div class="section__content section__content--fix-width section__content--padding">
        <h2 class="section__title section__title--centered">What do we develop?</h2>
        <div class="section__description section__description--centered">
            We can solve business problems that scope a wide range of platforms and devices.
            <br />
            Click on the small images to view more details.
        </div>
        <div class="hiw">
            <div class="hiw-titles">
                <div class="hiw-titles__wrapper swiper-wrapper">
                    <div class="hiw-titles__slide swiper-slide">
                        <img src="images/icons/alternative/webdesign.png" alt="" title="" />
                        <span>Websites</span>
                    </div>
                    <div class="hiw-titles__slide swiper-slide">
                        <img src="images/icons/alternative/mobile-apps.png" alt="" title="" />
                        <span>Mobile Apps</span>
                    </div>
                    <div class="hiw-titles__slide swiper-slide">
                        <img src="images/icons/alternative/desktopimage.png" alt="" title="" />
                        <span>Desktop Apps</span>
                    </div>
                    <div class="hiw-titles__slide swiper-slide">
                        <img src="images/icons/alternative/chatbot image.png" alt="" title="" />
                        <span>Bots</span>
                    </div>
                    <div class="hiw-titles__slide swiper-slide">
                        <img src="images/icons/alternative/api-icon.png" alt="" title="" />
                        <span>API's</span>
                    </div>
                </div>
            </div>

            <div class="hiw-content">
                <div class="hiw-content__wrapper swiper-wrapper">
                    <div class="hiw-content__slide swiper-slide">

                        <div class="pt-4 section__content section__content--fluid-width section__content--about">
                            <div class="grid grid--6col grid--about">

                                <div class="grid__item grid__item--x3">
                                    <div class="grid__image grid__image--left" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical"><img class="rounded" src="images/hiw-slide/gif-website-15.gif" alt="" title="" /></div>
                                </div>
                                <div class="grid__item grid__item--x3">
                                    <h3 class="grid__title">Beautifully Designed <span>Websites</span></h3>
                                    <p class="grid__text">We take care to make sure that you as one of our clients, get exactly what you are looking for. We take no shortcuts when it comes to design.</p>
                                    <ul class="grid__list float-left">
                                        <li>Responsive Websites</li>
                                        <li>Looks good on all devices</li>
                                        <li>Hand Coded</li>
                                    </ul>

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="hiw-content__slide swiper-slide">


                        <div class="pt-4 section__content section__content--fluid-width section__content--about">
                            <div class="grid grid--6col grid--about">

                                <div class="grid__item grid__item--x3">
                                    <h3 class="grid__title">Smartphone <span>apps</span>.</h3>
                                    <p class="grid__text">Mobile applications can prove to be an effective tool to engage with users. Maybe you have a great idea for an app or you want to create a solution to a specific business case.</p>
                                    <ul class="grid__list float-left">
                                        <li>We develop for iOS and Android.</li>
                                        <li>Build with scalability in mind.</li>
                                        <li>Security is baked into the data structure.</li>
                                        <li>Clean, modern, minimalistic design.</li>
                                    </ul>

                                </div>
                                <div class="grid__item grid__item--x3">
                                    <div class="grid__image grid__image--right" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical"><img class="rounded" src="images/hiw-slide/gif_mobile.gif" alt="" title="" /></div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="hiw-content__slide swiper-slide">


                        <div class="section__content section__content--fluid-width section__content--about">
                            <div class="grid grid--5col grid--about">

                                <div class="pt-4 grid__item grid__item--x3">
                                    <div class="grid__image grid__image--left pt-4" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical"><img class="rounded" src="images/hiw-slide/electron_gif.gif" alt="" title="" /></div>
                                </div>
                                <div class="grid__item grid__item--x2">
                                    <h3 class="grid__title">Scalable <span>desktop solutions</span></h3>
                                    <p class="grid__text">If you need a software solution that makes use of local computer files in order to work, you need a desktop solution. Whether you need something for Mac, Windows or Linux we have got it covered.</p>
                                    <ul class="grid__list float-left">
                                        <li>Develop for Mac, Windows and Linux</li>
                                        <li>Implement clean, modern design.</li>
                                        <li>Hand coded and devleloped.</li>
                                        <li>Stress tested</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hiw-content__slide swiper-slide">

                        <div class="pt-4 section__content section__content--fluid-width section__content--about">
                            <div class="grid grid--6col grid--about">

                                <div class="grid__item grid__item--x3">
                                    <h3 class="grid__title">Bots<span> drive</span> enagement.</h3>
                                    <p class="grid__text">Research has shown that website visitors will stay engaged for longer periods of time if there is a chatbot present. Chatbots are quite complicated machines but they serve as a very powerful engagement tool for business. Not to mention it takes a lot of stress off of customer support.</p>
                                    <ul class="grid__list float-left">
                                        <li>Quick responding.</li>
                                        <li>Very Interactive</li>
                                        <li>Entertaining</li>
                                    </ul>

                                </div>
                                <div class="grid__item grid__item--x3">
                                    <div class="grid__image grid__image--right" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical"><img class="rounded" src="images/hiw-slide/bots_chatting.gif" alt="" title="" /></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="hiw-content__slide swiper-slide">

                        <div class="pt-4 section__content section__content--fluid-width section__content--about">
                            <div class="grid grid--5col grid--about">

                                <div class="grid__item grid__item--x3">
                                    <div class="grid__image grid__image--left pt-4" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical"><img class="rounded" src="images/hiw-slide/api gif.gif" alt="" title="" /></div>
                                </div>
                                <div class="grid__item grid__item--x2">
                                    <h3 class="grid__title">Scalable <span>API</span> solutions.</h3>
                                    <p class="grid__text">
                                        An API is the tool that developers use to connect many different software solutions together. It is a very powerful tool.
                                        With this type of development you can make your busienss more productive by developing a Centralized system to manage many different tasks simultaneously.
                                    </p>
                                    <ul class="grid__list float-left">
                                        <li>Secure</li>
                                        <li>Scalable Cloud Infrastructure</li>
                                        <li>Hand Coded</li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>