<section class="section" id="support">
    <div class="section__content section__content--fix-width section__content--padding">
        <div class="grid grid--3col grid--support">

            <div class="grid__item grid__item--padding">
                <div class="grid__icon"><img src="images/icons/icons-64-blue/support-64.png" alt="" title="" /></div>
                <h3 class="grid__title">Help &amp; Support</h3>
                <p class="grid__text">Do you have a question that you need answered. No problem. Our team is available <strong>24/7</strong> and always happy to help.</p>
                <a href="mailto:support@mergemedia.co.za" class="grid__more">support@mergemedia.co.za</a>
            </div>
            <div class="grid__item grid__item--padding">
                <div class="grid__icon"><img src="images/icons/icons-64-blue/globe-64.png" alt="" title="" /></div>
                <h3 class="grid__title">Careers</h3>
                <p class="grid__text">
                    Do you want to find out if this company is the place for you to work? Give us a shout and we will get back to you asap! Also see our <a href="~/developers">Developer Network.</a>
                </p>
                <a href="mailto:careers@mergemedia.co.za" class="grid__more">careers@mergemedia.co.za</a>
            </div>
            <div class="grid__item grid__item--padding">
                <div class="grid__icon"><img src="images/icons/icons-64-blue/wallet-64.png" alt="" title="" /></div>
                <h3 class="grid__title">Sales</h3>
                <p class="grid__text">
                    Do you want to query us on any of our products? Contact our sales team to get the information you need. If you are representing a company you might want to read more about our <a href="~/partners">Partnership Program.</a>
                </p>
                <a href="mailto:sales@mergemedia.co.za" class="grid__more">sales@mergemedia.co.za</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</section>