<section class="section section--features" id="features">

    <div class="section__content section__content--fix-width section__content--padding">
        <h2 class="section__title section__title--centered section__title--features">What we do.</h2>
        <div class="section__description section__description--centered section__description--features">
            In short we aim to aid businesses by providing services to increase business productivity and efficiency at every level. We provide a wide range of services from websites, bespoke applicaitons development to bots and marketing.
        </div>
        <div class="grid grid--3col grid--features">

            <div class="grid__item">
                <div class="grid__icon center"><img src="images/icons/icons-64-white/responsive-64.png" alt="" title="" /></div>
                <h3 class="grid__title section__title--centered"><span> Graphic Design</span></h3>
                <p class="grid__text">Do you need to design your brand? We will have one of our graphic designers take care of that in no time. Logos, mockups, ads, video's and more.</p>

            </div>

            <div class="grid__item">
                <div class="grid__icon center"><img src="images/icons/icons-64-white/desktop-chart-64.png" alt="" title="" /></div>
                <h3 class="grid__title center">Search Engine <span>Optimization</span></h3>
                <p class="grid__text">Do you need a <strong>SSL</strong> certficate for your website? We can do a lot to improve your search engine ranking, but a SSL certificate is a good place to start.</p>
            </div>

            <div class="grid__item">
                <div class="grid__icon center"><img src="images/icons/icons-64-white/browser-64.png" alt="" title="" /></div>
                <h3 class="grid__title center">Bespoke <span>Software Development</span></h3>
                <p class="grid__text">Whether you need to automate your business, need a website, desktop software solution, mobile application or bot. We have you covered.<p>
            </div>
        </div>
        <div class="grid grid--3col grid--features">
            <div class="grid__item">
                <div class="grid__icon center"><img src="images/icons/icons-64-white/desktop-windows-64.png" alt="" title="" /></div>
                <h3 class="grid__title center">Marketing</h3>
                <p class="grid__text">Do you need to set up a marketing campeign for your company and get traffic to your business? We can help with that.</p>
            </div>

            <div class="grid__item">
                <div class="grid__icon center"><img src="images/icons/icons-64-white/customizer-64.png" alt="" title="" /></div>
                <h3 class="grid__title center"><span>Managed</span> Hosting</h3>
                <p class="grid__text">Do find that hosting websites and services can become complicated? Don't worry about that anymore. With our support plans we will set up and host your services for you.</p>
            </div>

            <div class="grid__item">
                <div class="grid__icon center"><img src="images/icons/icons-64-white/users-64.png" alt="" title="" /></div>
                <h3 class="grid__title center"><span>Friendly</span> Support</h3>
                <p class="grid__text">If you are a Merge Media client there is a dedicated support ticket system inside your client portal. By using this you will get lightning fast response.<p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <svg class="svg-features-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="#fff" points="0,100 100,0 100,100" />
    </svg>


</section>