<section class="section" id="pricing">

    <div class="section__content section__content--fix-width section__content--padding">
        <h2 class="section__title section__title--centered">Our Managed Support Plans</h2>
        <div class="section__description section__description--centered">
            A managed support plan is a way to tie everything technical in your business together without having to deal with it yourself. That includes email accounts, hosting, SSL Certification, SEO and more. All the support plans can be futher customized in the client portal.
        </div>


        <div class="pricing">
            <div class="pricing__switcher switcher">
                <div class="switcher__buttons">
                    <div class="switcher__button switcher__button--enabled">Monthly</div>
                    <div class="switcher__button">Yearly</div>
                    <div class="switcher__border"></div>
                </div>

            </div>


            <div class="pricing__plan">
                <h3 class="pricing__title">STARTER</h3>
                <div class="pricing__values">
                    <div class="pricing__value pricing__value--show"><span>R</span>150 <b>/ pm</b></div>
                    <div class="pricing__value pricing__value--hide pricing__value--hidden"><span>R</span>1000 <b>/ pa</b></div>
                </div>
                <ul class="pricing__list">
                    <li><b>1</b> Website</li>
                    <li><b>10</b> Members or less</li>
                    <li><b>10</b> Email Accounts</li>

                    <li class="disabled">SSL Certificate</li>
                    <li class="disabled">API Support</li>
                    <li class="disabled">Developer support</li>
                    <li class="disabled">Weekly Content Updates</li>
                </ul>
                <a class="pricing__signup" href="">Sign up</a>
            </div>
            <div class="pricing__plan">
                <h3 class="pricing__title">SMALL BUSINESS</h3>
                <div class="pricing__values">
                    <div class="pricing__value pricing__value--show"><span>R</span>300 <b>/ pm</b></div>
                    <div class="pricing__value pricing__value--hide pricing__value--hidden"><span>R</span>2200 <b>/ pa</b></div>
                </div>
                <ul class="pricing__list">
                    <li><b>3</b> Websites</li>
                    <li><b>20</b> Team Members</li>
                    <li><b>Unlimited</b> Emails Accounts</li>
                    <li><b>SSL</b> Certificate (R1000)</li>
                    <li>API extended support</li>
                    <li class="disabled">Developer support</li>
                    <li class="disabled">Weekly Updates</li>
                </ul>
                <a class="pricing__signup" href="">Sign up</a>
            </div>
            <div class="pricing__plan pricing__plan--popular">
                <div class="pricing__badge-bg"></div>
                <div class="pricing__badge-text">POPULAR</div>
                <h3 class="pricing__title">PRO</h3>
                <div class="pricing__values">
                    <div class="pricing__value pricing__value--show"><span>R</span>1000 <b>/ pm</b></div>
                    <div class="pricing__value pricing__value--hide pricing__value--hidden"><span>R</span>8000 <b>/ pa</b></div>
                </div>
                <ul class="pricing__list">
                    <li><b>5</b> Websites</li>
                    <li><b>50</b> Team members</li>
                    <li><b>Unlimited</b> Emails Accounts</li>
                    <li><b>SSL</b> Certificate (R2000)</li>
                    <li>API extended support</li>
                    <li>Developer support</li>
                    <li class="disabled">Weekly Updates</li>
                </ul>
                <a class="pricing__signup" href="">Sign up</a>
            </div>
            <div class="pricing__plan">
                <h3 class="pricing__title">ULTRA</h3>
                <div class="pricing__values">
                    <div class="pricing__value pricing__value--show"><span>R</span>5000 <b>/ pm</b></div>
                    <div class="pricing__value pricing__value--hide pricing__value--hidden"><span>R</span>35000 <b>/ pa</b></div>
                </div>
                <ul class="pricing__list">
                    <li><b>Unlimited</b> Websites</li>
                    <li><b>100</b> Team members</li>
                    <li><b>Unlimited</b> Emails Accounts</li>
                    <li><b>SSL</b> Certificate (R4000)</li>
                    <li>API extended support</li>
                    <li>Developer support</li>
                    <li>Weekly Updates</li>

                </ul>
                <a class="pricing__signup" href="">Sign up</a>
            </div>
        </div>

        <div class="clear"></div>
    </div>

</section>