<div class="content-wrapper animatedParent animateOnce">
    <div class="container">

        <div data-id="contact-map" class="g-map" data-address="39 Pioneer Road, Kloof" data-zoomlvl="14"></div>

        <div class="contact-us-info p-t-b-40">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="p-t-b-20">
                        <div class="widget widget-address">
                            <h3>Location</h3>
                            <div class="p-t-b-20">
                                <strong>Address:</strong>
                                <p>39 Pioneer Road, Kloof</p>
                                <strong> Email : </strong>
                                <p>kotzecaybo@gmail.com</p> <strong>Phone: </strong>
                                <p>083 290 2399</p>
                            </div>
                        </div>
                        <ul class="social">
                            <li class="facebook">
                                <a href="#"><i class="icon icon-facebook"></i></a>
                            </li>
                            <li class="youtube">
                                <a href="#"><i class="icon icon-youtube"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="#"><i class="icon icon-twitter"></i></a>
                            </li>
                            <li class="instagram">
                                <a href="#"><i class="icon icon-instagram"></i></a>
                            </li>
                            <li class="dribbble">
                                <a href="#"><i class="icon icon-dribbble"></i></a>
                            </li>
                            <li class="behance">
                                <a href="#"><i class="icon icon-behance"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-xl-6 col-lg-12 col-12 ">
                    <div class="contactFormWrapper ">
                        <form id="contactform" action="/assets/php/submit.php" method="post" novalidate>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <label for="name">Name</label>
                                    <input type="text"
                                           class="form-control"
                                           id="name"
                                           placeholder=""
                                           required>
                                    <div class="invalid-feedback">
                                        Please enter your name.
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="subject" class="required">Subject</label>
                                    <input type="text"
                                           class="form-control"
                                           id="subject"
                                           placeholder=""
                                           required>
                                    <div class="invalid-feedback">
                                        Please enter subject.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="company">Company Name</label>
                                    <input type="text"
                                           class="form-control"
                                           id="company"
                                           placeholder="">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="email" class="required">Email Address</label>
                                    <input type="email"
                                           class="form-control"
                                           id="email"
                                           placeholder=""
                                           required>
                                    <div class="invalid-feedback">
                                        Please enter email.
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="phone" class="required">Tel/Mob</label>
                                    <input class="form-control" type="text"
                                           name="phone" id="phone">
                                </div>
                            </div>
                            <label for="message" class="required">Message</label>
                            <textarea placeholder="Message"
                                      name="message"
                                      id="message"
                                      class="form-control"
                                      required>
                                </textarea>
                            <div class="invalid-feedback">
                                Please enter message.
                            </div>
                            <div class="text-right p-t-20">
                                <button class="btn btn-primary btn-lg">
                                    <i class="icon icon-envelope-o"></i> Send
                                    Message
                                </button>
                            </div>
                        </form>
                        <div class="p-t-b-20">
                            <div id="valid-issue" class="alert" style="display:none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
