<div class="content-wrapper animatedParent animateOnce" id="contact">
    <div class="container">

        <h2 class="text-center p-40">Contact Us</h2>

        <div data-id="contact-map" class="g-map" data-address="39 Pioneer Road, Kloof" data-zoomlvl="14"></div>

        <div class="contact-us-info p-t-b-40">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="p-t-b-20">
                        <div class="widget widget-address">
                            <h3>Location</h3>
                            <div class="p-t-b-20">
                                <strong>Address:</strong>
                                <p>39 Pioneer Road, Kloof</p>
                                <strong> Email : </strong>
                                <p>info@mergemedia.co.za</p> <strong>Phone: </strong>
                                <p>083 290 2399<br />031 767 8977</p>
                            </div>
                        </div>
                        <ul class="social">
                            <li class="facebook">
                                <a href="#"><i class="icon icon-facebook"></i></a>
                            </li>
                            <li class="youtube">
                                <a href="#"><i class="icon icon-youtube"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="#"><i class="icon icon-twitter"></i></a>
                            </li>
                            <li class="instagram">
                                <a href="#"><i class="icon icon-instagram"></i></a>
                            </li>
                            <li class="dribbble">
                                <a href="#"><i class="icon icon-dribbble"></i></a>
                            </li>
                            <li class="behance">
                                <a href="#"><i class="icon icon-behance"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-xl-6 col-lg-12 col-12 ">
                    <div class="contactFormWrapper ">
                        <form id="contactform" action="/assets/php/submit.php" method="post" novalidate>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <label for="name">Name<span class="text-red"> *</span></label>
                                    <input type="text"
                                           class="form-control"
                                           id="name"
                                           placeholder=""
                                           required>
                                    <div class="invalid-feedback">
                                        Please enter your name.
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="subject" class="required">Subject <span class="text-red"> *</span></label>
                                    <select class="form-control" id="select">
                                        <option>General Questions</option>
                                        <option>Technical Support</option>
                                        <option>Development</option>
                                        <option>Hosting</option>


                                    </select>
                                    @*<input type="text"
                                           class="form-control"
                                           id="subject"
                                           placeholder=""
                                           required>*@

                                    <div class="invalid-feedback">
                                        Please enter subject.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="company">Company Name</label>
                                    <input type="text"
                                           class="form-control"
                                           id="company"
                                           placeholder="">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="email" class="required">Email Address <span class="text-red"> *</span></label>
                                    <input type="email"
                                           class="form-control"
                                           id="email"
                                           placeholder=""
                                           required>
                                    <div class="invalid-feedback">
                                        Please enter email.
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="phone" class="required">Tel/Mob</label>
                                    <input class="form-control" type="text"
                                           name="phone" id="phone">
                                </div>
                            </div>
                            <label for="message" class="required">Message<span class="text-red"> *</span></label>
                            <textarea placeholder="Message"
                                      name="message"
                                      id="message"
                                      class="form-control"
                                      required
                                      >
                                </textarea>
                            <div class="invalid-feedback">
                                Please enter message.
                            </div>
                            <div class="text-right p-t-20">
                                <button class="btn btn-primary btn-lg">
                                    <i class="icon icon-envelope-o"></i> Send
                                    Message
                                </button>
                            </div>
                        </form>
                        <div class="p-t-b-20">
                            <div id="valid-issue" class="alert" style="display:none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    //function initMap() {

    //    // 29.784781,30.8499393
    //    var location = { lat: -29.784781, lng: 30.8499393 }
    //    var map = new google.maps.Map(document.getElementById("map"), {
    //        zoom: 12,
    //        center: location,
    //        disableDefaultUI: true,
    //        gestureHandling: 'none',
    //        zoomControl: false
    //    });

    //    var contentString = '<div id="content">' +
    //        '<div id="siteNotice">' +
    //        '</div>' +
    //        '<h1 id="firstHeading" class="firstHeading">Merge Media</h1>' +
    //        '<div id="bodyContent">' +
    //        '<p><b>Merge Media</b>, is a software development company based at 39 Pioneer road in Kloof. They provide software solutions to personal and business clients at affordable pricing.</p>' +
    //        '<a href="https://goo.gl/maps/FWG2y6HdQJG2" target="_blank">Click here to navigate to the destination</a>' +
    //        '</div>' +
    //        '</div>';

    //    var infowindow = new google.maps.InfoWindow({
    //        content: contentString
    //    });

    //    var marker = new google.maps.Marker({
    //        position: location,
    //        map: map,
    //        title: "39 Pioneer Road, Kloof."
    //    });

    //    marker.addListener('click', function () {
    //        infowindow.open(map, marker);
    //    });
    //}

</script>

