
<section class="dark-blue mokupSlider-wrapper" style="z-index:0;">
    <div class="container">

        <header class="section-heading center text-white p-b-40 pt-5">
            <h3 class="">Website Portfolio</h3>

            <div class="pt-3">
                <p class="center col-md-6">

                    With our managed cloud hosting packages you don't have to worry about anything.
                    We will develop your website, deploy it, host it, update it and secure it with
                    <a>SSL Encryption</a>. All Inlcuded in the package.
                </p>
            </div>

            <p class="pt-3"><a class="btn btn-primary col-md-3" target="_blank" href="http:\\www.shitface.com">View The Entire Portfolio</a></p>
        </header>

        <div class="container">
            <div class="laptop-mokup">
                <img src="assets/img/basic/mokup.png" />
            </div>
            <div class="mokupSlider">
                <ul class="lightSlider" data-item="1">
                    <li>
                        <div class="screenshot">
                            <a target="_blank" href="http://ghost.xvelopers.com/kingsman">
                                <img class="img-responsive" src="assets/img/demo/portfolio/02.png" alt="">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="screenshot">
                            <a target="_blank" href="http://ghost.xvelopers.com/kingsman">
                                <img src="assets/img/demo/portfolio/03.png" alt="">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="screenshot">
                            <a target="_blank" href="http://ghost.xvelopers.com/kingsman">
                                <img src="assets/img/demo/portfolio/04.png" alt="">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>