@{
    ViewData["Title"] = "Home Page";
}
<environment include="Development">
    <!--
        This comment will only show up for developers working on the project.
        It will not display on the client render html version.

        If you want to change something comment out the code in a developer mode. (like this comment)
        If you don't it will be visible on the source code when the site it live, and you don't want that
        for obvious reasons.

        Regards, Jack.

    -->

</environment>

<!-- this comment does show up on the hosted site source code... (Not recommended)-->

<img src="~/images/svg/left.svg" id="left" alt="">
<img src="~/images/svg/right.svg" id="right" alt="">
<img src="~/images/svg/glowbox.svg" id="glowbox" alt="">
<img src="~/images/svg/blobs.svg" id="blob" alt="">



<div class="btext">

    <h1>Merge Media</h1>
    <p>Affordable, high quality software solutions.</p>

</div>

<section id="home">

    <div id="particle">
    </div>



</section>

<div class="clearfix"></div>

@*Website Description*@

@*Render about section*@


@await Html.PartialAsync("AboutPartial")
<div class="clearfix"></div>
@*Technologies Section*@
@await Html.PartialAsync("TechnologiesPartial")
<div class="clearfix"></div>
@*Demo Site Section*@
@await Html.PartialAsync("DemoPartial")
<div class="clearfix"></div>
@*Hosting Site Section*@
@await Html.PartialAsync("HostingPartial")
<div class="clearfix"></div>




@*Read More about partial views
    https://docs.microsoft.com/en-us/aspnet/core/mvc/views/partial
*@

