@{
    ViewData["Title"] = "Home Page";
}

<div class="btext">

    <h1>Merge Media</h1>
    <p>Affordable, high quality software solutions.</p>

</div>

<section id="home">

    <div id="particle">
    </div>

    <img class="svg" src="~/svg/intro-bg-1.svg">
    <img class="svg" src="~/svg/intro-bg-2.svg">
    <img class="svg" src="~/svg/intro-bg-3.svg">

</section>

<div class="clearfix"></div>

@*Website Description*@

@*Render about section*@
@await Html.PartialAsync("About")

<section class="four" id="about">
    <div class="container text-light" id="">
        <div class="py-5 col-lg-12 col-md-12 col-sm-12 offset-sm-0">
            <p class="display-4">About Us</p>
            <p class="lead">Whether you need a web based solution, native smartphone solution or secure coroporate solutions for desktops, Merge Media will be able to help you at a very affordable price point. Contact us to get a quote and find out more.</p>
            <div class="row hidden-md-down">
                <div class="col-md-6 col-sm-12 mb-3">
                    <h5>Websites / Web Applications</h5>
                    <p>A website is an essential tool for a business to connect with its client base or even just as a personal project. Whether you want to create a new website for your business or redesign and expand an existing site, we will be able to help you.</p>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <h5>Applications</h5>
                    <p>If you have a service based business then a smartphone application may be a very good way for your business to connect with clients. Offering smartphone solutions for Android and iPhone, contact us to get a quote and see how we can help you.
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <h5>Desktop Applications</h5>
                    <p>Desktop applications are great solutions for businesses that want to scale up or create secure, robust solutions for their company. We can develop solutions for you for Mac, Linux and Windows. Contact us to find out more.</p>

                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <h5>Additional Services</h5>
                    <p>Merge Media also offers additional I.T. Services like S.E.O. or on-site and off-site technical support. Our team has also started research concerning decentralized applications and Machine Learning (artificial intelligence). If there is a solution you need outside of our business scope we can refer you to a business that can provide that service for you.</p>

                </div>

            </div>
        </div>
    </div>
</section>

@*Technologies Section*@

<section class="three" id="technologies">
    <div class="container" id="">
        <div class="col-lg-12 col-md-12 col-sm-12 offset-sm-0">

            <p class="display-4">Technologies</p>
            <p class="lead">Just a short description of some of the technologies we are familiar with at Merge Media.</p>

            <div class="pt-3">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3 class="pb-5">Frontend Frameworks</h3>
                        <p class="lead justify">At mergemedia we make use of Angular.js, React.js, jQuery.js, Ember.js and Vue.js. Each one of these javascript frameworks offers a unique purpose for each individual project. Sometimes they may be used in conjunction. We will make sure to choose the best one for the task at hand to make sure that you get the best result.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img class="col-img" src="assets/img/frameworks/frontend.png" alt="">
                    </div>
                </div>
            </div>

            <div class="pt-5">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img class="col-img" src="assets/img/frameworks/backend.png" alt="">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3 class="pb-5">Backend Frameworks</h3>
                        <p class="lead justify">At mergemedia we make use of Angular.js, React.js, jQuery.js, Ember.js and Vue.js. Each one of these javascript frameworks offers a unique purpose for each individual project. Sometimes they may be used in conjunction. We will make sure to choose the best one for the task at hand to make sure that you get the best result.</p>
                    </div>

                </div>
            </div>

            <div class="pt-5">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3 class="pb-5">Cross-Platform Frameworks</h3>
                        <p class="lead justify">At mergemedia we make use of Angular.js, React.js, jQuery.js, Ember.js and Vue.js. Each one of these javascript frameworks offers a unique purpose for each individual project. Sometimes they may be used in conjunction. We will make sure to choose the best one for the task at hand to make sure that you get the best result.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img class="col-img" src="assets/img/frameworks/crossplatform.png" alt="">
                    </div>
                </div>
            </div>






            <!-- Do not exceed -->



        </div>
    </div>
</section>




<div class="clearfix">

</div>

@*Demo Site Section*@

<section class="two" id="portfolio">
    <div class="container text-center py-5">
        <h1 class="jumbotron-heading text-light">View Our Demo Sites</h1>
        <p class="lead text-light">View our portfolio of different websites to see which one you like most.</p>
        <a href="portfolio.html" target="_blank" class="btn btn-md btn-primary">View Sites</a>
    </div>
</section>

<div class="clearfix">

</div>

<div class="container pb-5">
    <!--Card group-->
    <div class="card-deck">

        <!--Card-->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="img-fluid" src="~/images/screenshots/screenshot1.png" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--Card image-->

        </div>
        <!--Card-->
        <!--Card-->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="img-fluid" src="~/images/screenshots/screenshot2.png" alt="Card image cap">
                <a href="#contact">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--Card image-->

        </div>
        <!--Card-->

    </div>

</div>


@*start the hosting section*@

<section class="three" id="hosting">
    <div class="container">

        <h1 class="mb-2">Managed Hosting</h1>
        <p class="lead mb-5">With our managed hosting services, we manage and set up all your business solutions for you. No fuss.</p>

        <div class="row text-center">
            <div class="col-sm-12 col-md-4">
                <div class="pricing-wrapper ">
                    <div class="pricing-table">

                        <div class="price-wrap">
                            <span class="price display-4">R99</span></br><small> p/Mo</small>
                        </div>
                        <hr />
                        <span class="type lead">
                            BASIC PLAN
                        </span>

                        <hr />
                        <p>
                            Good for personal websites or small businesses. Any services expecting low to moderate web traffic. Light computation can be done but is not scalable.
                        </p>
                        <hr />
                        <ul class="ul-none">
                            <li><i class="fa fa-check"></i> 1 TB Bandwidth</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 10 GB Disk Space</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 GB RAM</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 vCPU</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 Static IP</li>

                        </ul>
                        <hr />
                        <a href="#contact" class="btn btn-info">BOOK PLAN</a>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="pricing-wrapper ">
                    <div class="pricing-table">

                        <div class="price-wrap">
                            <span class="price display-4">R299</span></br><small>p/Mo</small>
                        </div>
                        <hr />
                        <span class="type lead">
                            SILVER PLAN
                        </span>
                        <hr />
                        <p>A good solution for small to medium businesses. Or any web service that is expecting reasonable amounts of traffic and light backend computations.</p>
                        <hr />
                        <ul class="ul-none">
                            <li><i class="fa fa-check"></i> 1,5 TB Bandwidth</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 50 GB Disk Space</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 2 GB RAM</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 vCPU</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 Static IP</li>

                        </ul>
                        <hr />
                        <a href="#contact" class="btn btn-info">BOOK PLAN</a>
                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="pricing-wrapper ">
                    <div class="pricing-table">

                        <div class="price-wrap">
                            <span class="price display-4">R599</span></br><small>p/Mo</small>
                        </div>
                        <hr />
                        <span class="type lead">
                            GOLD PLAN
                        </span>

                        <hr />
                        <p>
                            A good solution for medium sized businesses. Or any web services expecting moderate amounts of web traffic and moderate amounts of backend computations.
                        </p>
                        <hr />
                        <ul class="ul-none">
                            <li><i class="fa fa-check"></i> 3 Bandwidth</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 75 GB Disk Space</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 4 GB RAM</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 2 vCPU</li>
                            <hr />
                            <li><i class="fa fa-check"></i> 1 Static IP</li>

                        </ul>
                        <hr />
                        <a href="#contact" class="btn btn-info">BOOK PLAN</a>
                    </div>

                </div>
            </div>

        </div>


        <div class="pt-5">
            <h1 class="pt-5 pb-3">Managed Cloud Hosting</h1>
            <p class="lead pb-4">Cloud is by far the best solution in our opinion. With cloud, whatever solution you need is scalable, fast, secure and customizable. However, Cloud computing can be quite complicated. Make use of our managed cloud services so that we can take care of all that for you.</p>
        </div>


        <div class="row text-center pt-5">
            <div class="col-sm-12 col-md-6">
                <div class="pricing-wrapper ">
                    <div class="pricing-table">

                        <div class="price-wrap">
                            <span class="price display-4">R249</span></br><small>p/Mo</small>
                        </div>
                        <hr />
                        <span class="type lead">
                            Microsoft Azure
                        </span>

                        <hr />
                        <p>
                            Merge media makes use of the Microsoft Azure Cloud hosting platform and the Amazon Web Services Cloud hosting platform. Starting at R249 per month, you get a baseline package that provides 1ghzps processing power and 2gb of RAM for your service. If you exceed that amount then you can choose to simply expand the hardware instantly. This is why cloud provides an advantage over other hosting options. You can scale your service on demand, and virtually infinitely.
                        </p>
                        <hr />
                        <a href="#contact" class="btn btn-info">BOOK PLAN</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img class="col-img" src="assets/img/bg.jpg" alt="">
            </div>

            <!-- end of the row -->
        </div>


        <!-- Close the container -->

    </div>
</section>
