@{
    ViewData["Title"] = "Home Page";
}
<environment include="Development">
    <!--
        This comment will only show up for developers working on the project.
        It will not display on the client render html version.

        If you want to change something comment out the code in a developer mode. (like this comment)
        If you don't it will be visible on the source code when the site it live, and you don't want that
        for obvious reasons.

        Regards, Jack.

    -->

</environment>

<!-- this comment does show up on the hosted site source code... (Not recommended)-->
@*<img src="~/images/svg/left.svg" id="left" alt="">
    <img src="~/images/svg/right.svg" id="right" alt="">
    <img src="~/images/svg/glowbox.svg" id="glowbox" alt="">
    <img src="~/images/svg/blobs.svg" id="blob" alt="">



    <div class="btext">

        <h1>Merge Media</h1>
        <p>Affordable, high quality software solutions.</p>

    </div>

    <section id="home">

        <div id="particle">
        </div>



    </section>*@
<section class="hero-header text-white" style="background: url('assets/img/demo/team.jpg')">
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 text-center p-t-40">
                        <h1 class="cd-headline letters type big-heading rotate-2">
                            <span>We create</span>
                            <span class="cd-words-wrapper waiting">
                                <b class="is-visible strawberry">brands</b>
                                <b class="sunfollower">websites</b>
                                <b class="mint">applications</b>

                            </span>
                        </h1>
                        <div class="p-t-b-100">
                            <a href="" class="btn-primary btn-big r-30">
                                <i class="icon icon-arrow-right"></i>
                                Hire Us Now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

@*Website Description*@

@*Render about section*@

@await Html.PartialAsync("Services")
@await Html.PartialAsync("AboutPartial")
<div class="clearfix"></div>
@*Technologies Section*@
@await Html.PartialAsync("TechnologiesPartial")
<div class="clearfix"></div>
@*Demo Site Section*@
@await Html.PartialAsync("DemoPartial")
<div class="clearfix"></div>
@*Hosting Site Section*@
@await Html.PartialAsync("HostingPartial")
<div class="clearfix"></div>




@*Read More about partial views
    https://docs.microsoft.com/en-us/aspnet/core/mvc/views/partial
*@

