@{
    ViewData["Title"] = "Home Page";
}

<div class="btext">

    <h1>Merge Media</h1>
    <p>Affordable, high quality software solutions.</p>

</div>

<section id="home">

    <div id="particle">
    </div>

    <img class="svg" src="~/svg/intro-bg-1.svg">
    <img class="svg" src="~/svg/intro-bg-2.svg">
    <img class="svg" src="~/svg/intro-bg-3.svg">

</section>

<div class="clearfix"></div>
