<div class="p-40">
    
    <section class="pb-3">
        <div class="text-center p-t-b-40">
            <h2>Some of our technologies</h2>
            <p class="subtitle">Click on the left side (tabs) to view more info...</p>
        </div>
        <div class="row">
            <div class="col-xl-6 mx-md-auto col-lg-10 mx-sm-auto">
                <div class="row v_tabs">
                    <div class="col-6">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav flex-column nav-tabs tabs-left">
                            <li class="nav-item">
                                <a href="#tab0" data-toggle="tab" class="nav-link">
                                    UX/UI Design
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab1" data-toggle="tab" class="nav-link">
                                    Front-End Frameworks
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab2" data-toggle="tab" class="nav-link">
                                    Back-End Frameworks
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab3" data-toggle="tab" class="nav-link">
                                    Cross-Platform Apps
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab4" data-toggle="tab" class="nav-link">
                                    Mobile Development
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab5" data-toggle="tab" class="nav-link">
                                    Desktop Development
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab6" data-toggle="tab" class="nav-link">
                                    Programming Languages
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane" id="tab0">
                                <ul>
                                    <li>Photoshop CS6</li>
                                    <li>Adobe Experience Design CC</li>
                                    <li>Adobe Illustrator CS6</li>
                                    <li>Adobe Experience Design</li>
                                    <li>Axure.com/ui</li>
                                    <li>MarvelApp.com</li>
                                    <li>InvisionApp.com</li>

                                </ul>
                            </div>
                            <div class="tab-pane" id="tab1">
                                <ul>
                                    <li>Angular.js</li>
                                    <li>Vue.js</li>
                                    <li>Typescript.js</li>
                                    <li>React.js</li>
                                    <li>jQuery.js</li>
                                    <li>Bootstrap - CSS</li>
                                    <li>Foundation - CSS</li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <ul>
                                    <li>LARAVEL &amp; Slim Routing</li>
                                    <li>Ruby on Rails</li>
                                    <li>Python Django</li>
                                    <li>Node.JS</li>
                                </ul>
                            </div>
                            <div class="tab-pane active" id="tab3">
                                <ul>
                                    <li>Apache Cordova</li>
                                    <li>Ionic</li>
                                    <li>Xamarin</li>
                                    <li>React Native</li>
                                    <li>Flutter</li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <ul>
                                    <li>Android Native Apps</li>
                                    <li>IOS Swift Apps</li>
                                    <li>Universal Windows Apps</li>
                                    <li>Xamarin Apps</li>

                                </ul>
                            </div>
                            <div class="tab-pane" id="tab5">
                                <ul>
                                    <li>Universal Windows Apps</li>
                                    <li>Electron.js Apps</li>
                                    <li>Windows Form Applications</li>



                                </ul>
                            </div>
                            <div class="tab-pane" id="tab6">
                                <ul>
                                    <li>C#</li>
                                    <li>Java</li>
                                    <li>Python</li>
                                    <li>Go</li>
                                    <li>WebAssembly</li>
                                    <li>PHP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>