<!-- ***** Blog Area Start ***** -->
<section class="our_blog_area section_padding_90_70 clearfix" id="blog">
    <div class="container">
        <div class="row">
            <!-- Heading Text -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>From The Blog</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Single content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="blog_single_content">
                    <!-- Image -->
                    <div class="blog_image">
                        <img src="img/blog-img/1.jpg" alt="">
                    </div>
                    <!-- Blog Text -->
                    <div class="blog_text">
                        <p>post by: Ajoy Das</p>
                        <a href="#">
                            <h4>How to become a successful businessman.</h4>
                        </a>
                        <a href="#">Read Details</a>
                    </div>
                </div>
            </div>
            <!-- Single content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="blog_single_content">
                    <!-- Image -->
                    <div class="blog_image">
                        <img src="img/blog-img/2.jpg" alt="">
                    </div>
                    <!-- Blog Text -->
                    <div class="blog_text">
                        <p>post by: sunny khan</p>
                        <a href="#">
                            <h4>How can we motivate for our business success.</h4>
                        </a>
                        <a href="#">Read Details</a>
                    </div>
                </div>
            </div>
            <!-- Single content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="blog_single_content">
                    <!-- Image -->
                    <div class="blog_image">
                        <img src="img/blog-img/3.jpg" alt="">
                    </div>
                    <!-- Blog Text -->
                    <div class="blog_text">
                        <p>post by: soniya khan</p>
                        <a href="#">
                            <h4>How can we motivate for our business success.</h4>
                        </a>
                        <a href="#">Read Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog Area End *****  -->