<!-- *****  Call To Action Area Start *****  -->
<section class="call_to_action_area bg-fixed section_padding_90_100 clearfix bg-overlay" style="background-image: url(/img/bg-img/mergemedia_question.jpg)">
    <div class="container">
        <div class="row">
            <!-- Heading Text -->
            <div class="col-12">
                <div class="call-to-action-heading">
                    <h2>Not sure if we can help you?</h2>
                    <p>Give us a call or use our contact form and we will get back to you asap.</p>
                    <a class="welcome-btn-white" href="#">Contact Us</a><br /><br />
                    <a class="welcome-btn-white" href="#">Get a Quote</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Side Image -->
    @*<div class="side-image-2 wow fadeIn" data-wow-delay="1s">
        <img src="~/img/bg-img/mergemedia_question.jpg" alt="">
    </div>*@
</section>
<!-- *****  Call To Action Are End *****  -->