<!-- ***** Contact Area End *****  -->
<section class="contact_us_area" id="contact">
    <div class="container">
        <div class="row">
            <!-- Heading Text -->
            <div class="col-12">
                <div class="section-heading text-center section_padding_90_0">
                    <h2>Contact With Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_area d-flex">

        <!-- Contact Form -->
        <div class="contact_from_area bg-img bg-overlay-3 section_padding_90_100 clearfix" style="background-image: url(/img/bg-img/mergemedia_contact.jpg)">
            <div class="contact_form">
                <form action="mail.php" method="post" id="main_contact_form">
                    <div class="contact_input_area">
                        <div id="success_fail_info"></div>
                        <div class="row">
                            <div class="col-12">
                                <div class="conatct_heading">
                                    <h2>you have some Quary in your mind don’t waste your time message us</h2>
                                </div>
                            </div>
                            <!-- Form Group -->
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                </div>
                            </div>
                            <!-- Form Group -->
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                                </div>
                            </div>
                            <!-- Form Group -->
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Your Message *" required></textarea>
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="col-12">
                                <button type="submit" class="welcome-btn-white">Send Now</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Contact Deatils -->
        <div class="contact_deatils">
            <!-- Google Maps -->
            <div id="googleMap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94482.79615407129!2d-0.19818122000950858!3d51.51651560026987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sbd!4v1530334547227" allowfullscreen></iframe>
            </div>

            <!-- Content Info -->
            <div class="contact_info_area">
                <div class="contact_info text-center">
                    <i class="icofont icofont-social-google-map"></i>
                    <h5>Location</h5>
                    <p>Aox street, newyork</p>
                </div>
                <!-- Content Info -->
                <div class="contact_info text-center">
                    <i class="icofont icofont-email"></i>
                    <h5>E-mail</h5>
                    <p>example@example.com</p>
                </div>
                <!-- Content Info -->
                <div class="contact_info text-center">
                    <i class="icofont icofont-ui-dial-phone"></i>
                    <h5>Phone</h5>
                    <p>+012 345 6789</p>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- ***** Contact Area End *****  -->

<section class="section_padding_90_50 bg-dark">
    <!-- Contact Form -->
    <div class=" clearfix">
        <div class="container">
            <form action="mail.php" method="post" id="main_contact_form">
                <div class="contact_input_area">
                    <div id="success_fail_info"></div>
                    <div class="row col-6">
                        <div class="col-12">
                            <div class="conatct_heading">
                                <h2>Get a quote from us</h2>
                            </div>
                        </div>
                        <!-- Form Group -->
                        <div class="col-12">
                            <div class="form-group">

                                <label for="SelectQuote" class="text-light">Service Quotation</label>
                                <select class="form-control" id="SelectQuote">
                                    <option>Graphic Design</option>
                                    <option>Website Development</option>
                                    <option>Application Development</option>
                                    <option>Marketing</option>
                                    <option>Technical Consultation</option>
                                </select>

                            </div>
                        </div>
                        <!-- Form Group -->
                        <div class="col-12">
                            <div class="form-group">

                                <label for="SelectBudget" class="text-light">Budget</label>
                                <select class="form-control" id="SelectBudget" required>
                                    <option>R1000 - R10 000</option>
                                    <option>R10 000+</option>
                                    <option>R25 000+</option>
                                    <option>R50 000+</option>
                                    <option>R100k+</option>
                                </select>

                            </div>
                        </div>
                        <!-- Form Group -->
                        <div class="col-12">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email Address *" required>
                            </div>
                        </div>
                        <!-- Form Group -->
                        <div class="col-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" id="message" cols="10" rows="5" placeholder="Your Message *" required></textarea>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="col-12">
                            <button type="submit" class="welcome-btn-white">Send Now</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>