<!-- *****  Cool Fact Area Start *****  -->
<section class="cool_fact_area bg-fixed section_padding_90_70 clearfix bg-overlay-3" style="background-image: url(/img/bg-img/Mergemedia_whiteboard_result.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Cool Fact-->
                <div class="single_cool_fact text-center">
                    <div class="cool_fact_icon_img">
                        <img src="img/coll-fact-icon/1.png" alt="">
                    </div>
                    <!-- Single Cool Detail-->
                    <div class="cool_fact_detail">
                        <h3><span class="counter">100</span>+</h3>
                        <h2>Happy Clients</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Cool Fact-->
                <div class="single_cool_fact text-center">
                    <div class="cool_fact_icon_img">
                        <img src="img/coll-fact-icon/2.png" alt="">
                    </div>
                    <!-- Single Cool Detail-->
                    <div class="cool_fact_detail">
                        <h3><span class="counter">400</span>+</h3>
                        <h2>Projects Done</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Cool Fact-->
                <div class="single_cool_fact text-center">
                    <div class="cool_fact_icon_img">
                        <img src="img/coll-fact-icon/3.png" alt="">
                    </div>
                    <!-- Single Cool Detail-->
                    <div class="cool_fact_detail">
                        <h3><span class="counter">100000</span>+</h3>
                        <h2>lines Of Code</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Cool Fact-->
                <div class="single_cool_fact text-center">
                    <div class="cool_fact_icon_img">
                        <i style="font-size:65px; color:white;"class="fas fa-users"></i>
                    </div>
                    <!-- Single Cool Detail-->
                    <div class="cool_fact_detail">
                        <h3><span class="counter">6</span>+</h3>
                        <h2>Team Members</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *****  Cool Fact Area End *****  -->