 <!-- *****  Our Awesome Features Are Start *****  -->
<section class="our_awsome_feature_area section_padding_90_70 clearfix" id="feature">
    <div class="container">
        <div class="row">
            <!-- Heading Text -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Awesome Features</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">

            <div class="col-12 col-md-5 col-lg-4">
                <!-- Image -->
                <div class="awsome_feature_image">
                    <img src="~/img/bg-img/mergemedia_code.jpg" alt="">
                </div>
            </div>

            <div class="col-12 col-md-1"></div>

            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Content -->
                <div class="feature_single_content wow fadeInUp" data-wow-delay="0.2s">
                    <div class="feature_icon">
                        <i class="icofont icofont-code-alt"></i>
                    </div>
                    <div class="feature_text">
                        <h4>Custom Code</h4>
                        <p>We like to code all our software ourselves from scratch. This means that you get better performance and unlimited customizability.</p>
                    </div>
                </div>
                <!-- Single Content -->
                <div class="feature_single_content middle wow fadeInUp" data-wow-delay="0.4s">
                    <div class="feature_icon">
                        <i class="icofont icofont-eye-alt"></i>
                    </div>
                    <div class="feature_text">
                        <h4>Pixels Perfect Design</h4>
                        <p>Because we develop all our products ourselves we can customize the design to exactly what you want. No Limits.</p>
                    </div>
                </div>
                <!-- Single Content -->
                <div class="feature_single_content down wow fadeInUp" data-wow-delay="0.6s">
                    <div class="feature_icon">
                        <i class="icofont icofont-spinner-alt-3"></i>
                    </div>
                    <div class="feature_text">
                        <h4>Fast Loading Times</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at blandit enim.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Awesome Features Are End ***** -->