<!-- *****  Price Table Area Start *****  -->
<section class="price_table_area section_padding_90_70 clearfix">
    <div class="container">
        <div class="row">
            <!-- Heading Text -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Merge Managed Hosting</h2>
                    <p>With Merge Media managed hosting you don't have to do anything. We will take care of all the confusing stuff for you. You don't have to configure DNS, SMTP Clients or set up MSExchange. No Stress. We create and manage the website.</p>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <!-- Single Table -->
            <div class="col-md-4">
                <div class="single_price_table_content text-center wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Text -->
                    <div class="price_table_text">
                        <h5>Essentials</h5>
                        <h1><span class="text-info">R</span>99.99</h1>
                        <p>Per Month</p>
                    </div>
                    <!-- Text Details -->
                    <div class="table_text_details">
                        <p>100GB Bandwidth</p>
                        <p>25 Email Accounts</p>
                        <p>1 Domain</p>
                        <p>Hassle Free</p>
                        <p>24/7 Support</p>
                    </div>
                    <!-- Button -->
                    <div class="table_btn">
                        <a href="#">Start</a>
                    </div>
                </div>
            </div>
            <!-- Single Table -->
            <div class="col-md-4">
                <div class="single_price_table_content active text-center wow fadeIn" data-wow-delay="0.8s">
                    <!-- Text -->
                    <div class="price_table_text">
                        <h5>Business</h5>
                        <h1><span class="text-info">R</span>299.99</h1>
                        <p>Per Month</p>
                    </div>
                    <!-- Text Details -->
                    <div class="table_text_details">
                        <p>250GB Bandwidth</p>
                        <p>400 Email Accounts</p>
                        <p>Multiple Domains</p>
                        <p>Hassle Free</p>
                        <p>Microsoft Business Essentials</p>
                        <p>24/7 Support</p>
                    </div>
                    <!-- Button -->
                    <div class="table_btn white">
                        <a href="#">Start</a>
                    </div>
                </div>
            </div>
            <!-- Single Table -->
            <div class="col-md-4">
                <div class="single_price_table_content text-center wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Text -->
                    <div class="price_table_text">
                        <h5>Professional</h5>
                        <h1><span class="text-info">R</span>799.99</h1>
                        <p>Per Month</p>
                    </div>
                    <!-- Text Details -->
                    <div class="table_text_details">
                        <p>500GB Bandwidth</p>
                        <p>400 Email Accounts</p>
                        <p>Multiple Domains</p>
                        <p>Hassle Free</p>
                        <p>Free SSL Certificate</p>
                        <p>SEO Optimized</p>
                        <p>Microsoft 365 Package</p>
                        <p>24/7 Support</p>
                    </div>
                    <!-- Button -->
                    <div class="table_btn">
                        <a href="#">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *****  Price Table Area End *****  -->