<section class="pricing">
    <div class="container">
        <header class="section-heading p-b-40">
            <h3 class="text-left">Mega Pricining Tables</h3>
            <p class="text-left">Sed eget orci eleifend enim mattis suscipit. Suspendisse potenti nonipsum.</p>
        </header>
        <div class="row">
            <div class="col-md-3">
                <div class="pricebox">
                    <h4 class="title">Basic - Package</h4>
                    <span class="price">10</span>
                    <span class="dollar">R</span>
                    <span class="slash">/</span>
                    <span class="month">month</span>
                    <ul>
                        <li>1 Web Site Design</li>
                        <li>1 Logo Design</li>
                        <li>5 HTML Pages</li>
                        <li><b>5GB</b> Disk Space</li>
                        <li><b>50GB</b> Bandwidth</li>
                        <li><b>10</b> Email Accounts</li>
                        <li><b>Unlimited</b> subdomains</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg">Select Plan</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricebox pro text-white">
                    <h4 class="title">Pro - Package</h4>
                    <span class="price">20</span>
                    <span class="dollar">$</span>
                    <span class="slash">/</span>
                    <span class="month">month</span>
                    <ul>
                        <li>1 Web Site Design</li>
                        <li>1 Logo Design</li>
                        <li>5 HTML Pages</li>
                        <li><b>5GB</b> Disk Space</li>
                        <li><b>50GB</b> Bandwidth</li>
                        <li><b>10</b> Email Accounts</li>
                        <li><b>Unlimited</b> subdomains</li>
                    </ul>
                    <a href="#" class="btn btn-success btn-lg">Select Plan</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricebox">
                    <h4 class="title">Multiuser - Package</h4>
                    <span class="price">40</span>
                    <span class="dollar">$</span>
                    <span class="slash">/</span>
                    <span class="month">month</span>
                    <ul>
                        <li>1 Web Site Design</li>
                        <li>1 Logo Design</li>
                        <li>5 HTML Pages</li>
                        <li><b>5GB</b> Disk Space</li>
                        <li><b>50GB</b> Bandwidth</li>
                        <li><b>10</b> Email Accounts</li>
                        <li><b>Unlimited</b> subdomains</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg">Select Plan</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricebox extended">
                    <h4 class="title">Extended - Package</h4>
                    <span class="price">60</span>
                    <span class="dollar">$</span>
                    <span class="slash">/</span>
                    <span class="month">month</span>
                    <ul>
                        <li>1 Web Site Design</li>
                        <li>1 Logo Design</li>
                        <li>5 HTML Pages</li>
                        <li><b>5GB</b> Disk Space</li>
                        <li><b>50GB</b> Bandwidth</li>
                        <li><b>10</b> Email Accounts</li>
                        <li><b>Unlimited</b> subdomains</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg">Select Plan</a>
                </div>
            </div>
            <div class="col-md-3 pt-4">
                <div class="pricebox extended">
                    <h4 class="title">Extended - Package</h4>
                    <span class="price">60</span>
                    <span class="dollar">$</span>
                    <span class="slash">/</span>
                    <span class="month">month</span>
                    <ul>
                        <li>1 Web Site Design</li>
                        <li>1 Logo Design</li>
                        <li>5 HTML Pages</li>
                        <li><b>5GB</b> Disk Space</li>
                        <li><b>50GB</b> Bandwidth</li>
                        <li><b>10</b> Email Accounts</li>
                        <li><b>Unlimited</b> subdomains</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg">Select Plan</a>
                </div>
            </div>
        </div>
    </div>
</section>