<!-- *****  Our Recent Work Area Start *****  -->
<section class="our_recent_work_area section_padding_90_100 clearfix" id="work">
    <div class="container">
        <div class="row">
            <!-- Heading Text -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Some Recent Work</h2>
                    <p>These are some of the recent websites and projects we have been working on. View our portfolio for more.</p>
                </div>
            </div>
        </div>
    </div>



    <div class="portfolio_gallery_item bg-img w-50" style="background-image: url(/img/project-img/top-middle_result.jpg);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">
                        <!--<a href="#">-->
                        <h5>App Mockup</h5>
                        <!--</a>-->
                        <div class="line"></div>
                        <p>Graphical Mockups form part of our application development process.</p>
                        <!--<a href="#" class="project-btn">View project</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio_gallery_item bg-img w-50" style="background-image: url(/img/project-img/merge_pring.PNG);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">

                        <h5>Print Design</h5>
                        <div class="line"></div>
                        <p>Do you want to publish a book or create flyers. We can do that.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_gallery_item bg-img w-50" style="background-image: url(/img/project-img/bha.PNG);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">
                        <a href="http://www.bhadurban.co.za">
                            <h5>Websites</h5>
                        </a>
                        <div class="line"></div>
                        <p>Do you need a website or a revamp? We do business and personal websites <br />for as low as R2000.</p>
                        <a href="http://www.bhadurban.co.za" class="project-btn">View project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio_gallery_item bg-img w-50" style="background-image: url(/img/project-img/merge_business_cards.PNG);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">

                        <h5>Busienss Cards</h5>

                        <div class="line"></div>
                        <p>Need business cards for your new venture? No problem.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_gallery_item bg-img w-50" style="background-image: url(/img/project-img/merge_shadow.PNG);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">

                        <h5>Posters</h5>

                        <div class="line"></div>
                        <p>Hosting an event? Need a poster?. Thats a quick fix!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_gallery_item bg-img w-50" style="background-image: url(/img/project-img/Product_design.PNG);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">

                        <h5>Product Design</h5>

                        <div class="line"></div>
                        <p>Want to start selling your own products or Merchandise. We can sort that out for you.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>









    <!-- Load More Button-->
    <div class="button text-center">
        <a href="~/Portfolio" class="tomcat-btn mt-50"> View Project Page </a>
    </div>
</section>
<!-- *****  Our Recent Work Area End *****  -->
