<!-- *****  Our Recent Work Area Start *****  -->
<section class="our_recent_work_area section_padding_90_100 clearfix">
    <div class="container">
        <div class="row">
            <!-- Heading Text -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Some Recent Work</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_gallery_item bg-img w-25" style="background-image: url(/img/project-img/top-left.jpg);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">
                        <a href="#">
                            <h5>graphic Design</h5>
                        </a>
                        <div class="line"></div>
                        <p>Catagory Name</p>
                        <a href="#" class="project-btn">View project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_gallery_item bg-img w-50" style="background-image: url(/img/project-img/top-middle.jpg);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">
                        <a href="#">
                            <h5>graphic Design</h5>
                        </a>
                        <div class="line"></div>
                        <p>Catagory Name</p>
                        <a href="#" class="project-btn">View project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_gallery_item bg-img w-25" style="background-image: url(/img/project-img/top-right.jpg);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">
                        <a href="#">
                            <h5>graphic Design</h5>
                        </a>
                        <div class="line"></div>
                        <p>Catagory Name</p>
                        <a href="#" class="project-btn">View project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_gallery_item bg-img w-25" style="background-image: url(/img/project-img/bottom_left.jpg);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">
                        <a href="#">
                            <h5>graphic Design</h5>
                        </a>
                        <div class="line"></div>
                        <p>Catagory Name</p>
                        <a href="#" class="project-btn">View project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_gallery_item bg-img w-25" style="background-image: url(/img/project-img/bottom_left.jpg">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">
                        <a href="#">
                            <h5>graphic Design</h5>
                        </a>
                        <div class="line"></div>
                        <p>Catagory Name</p>
                        <a href="#" class="project-btn">View project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_gallery_item bg-img w-50" style="background-image: url(/img/project-img/bottom_right.png);">
        <!-- Single Content -->
        <div class="single_content">
            <div class="tomcat-table">
                <div class="tomcat-table-cell">
                    <!-- Project Title-->
                    <div class="project_title">
                        <a href="#">
                            <h5>graphic Design</h5>
                        </a>
                        <div class="line"></div>
                        <p>Catagory Name</p>
                        <a href="#" class="project-btn">View project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Load More Button-->
    <div class="button text-center">
        <a href="#" class="tomcat-btn mt-50">View Collection</a>
    </div>
</section>
<!-- *****  Our Recent Work Area End *****  -->
