<!-- *****  Our Services Area Start *****  -->
<section class="our_services_area section_padding_0_70 clearfix" id="services">
    <div class="container">
        <div class="row">
            <!-- Heading Text -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Services</h2>
                    <p>We just chose to mention a few of the things that we do. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content Text -->
                <div class="service_single_content text-center mb-30 wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="img/service/1.png" alt="">
                    </div>
                    <h5>Graphic Design</h5>
                    <p class="text-dark">Do you need to create a brand image for your company? Design a book? Or just need a new logo, we have got you covered.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content Text -->
                <div class="service_single_content text-center mb-30 active wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/img/service/web-design-brasil.png" alt="" class="servicesizelimit">
                    </div>
                    <h5>Website Development</h5>
                    <p class="text-dark">Need a sleek, beautifully designed website to boost your business brand? Do you want to redesign your existing website? Say no more.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content Text -->
                <div class="service_single_content text-center mb-30 wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="img/service/3.png" alt="">
                    </div>
                    <h5>Application Development</h5>
                    <p class="text-dark">We develop chatbots, desktop and smartphone applications at very competitive prices. We build apps for Windows, Linux and Apple.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content Text -->
                <div class="service_single_content text-center mb-30 active wow fadeInUp" data-wow-delay="0.5s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="img/service/2.png" alt="">
                    </div>
                    <h5>ux/ui design &amp; prototyping.</h5>
                    <p class="text-dark">UI Design forms part of the process we use to develop all of our products. However, if you want us to develop mockups for your brand contact us.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content Text -->
                <div class="service_single_content text-center mb-30 active wow fadeInUp" data-wow-delay="0.6s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/img/service/hosting.png" class="servicesizelimit" alt="">
                    </div>
                    <h5>Hosting</h5>
                    <p class="text-dark">We offer managed hosting packages to our clients so that the do not need to worry about server setup or maintenance.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content Text -->
                <div class="service_single_content text-center mb-30 wow fadeInUp" data-wow-delay="0.7s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="img/service/5.png" alt="">
                    </div>
                    <h5>Consulting</h5>
                    <p class="text-dark">Do you want to automate some of your business systems. Find out how you can save time by talking to one of our consultants.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content Text -->
                <div class="service_single_content text-center mb-30 active wow fadeInUp" data-wow-delay="0.1s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="img/service/6.png" alt="">
                    </div>
                    <h5>Technical Support</h5>
                    <p class="text-dark">We provide online technical support for software that we develop and for other retail software products.</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content Text -->
                <div class="service_single_content text-center mb-30 active wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/img/service/seo-search-rankings-analytics-ss-1920.gif" class="servicesizelimit" alt="">
                    </div>
                    <h5>SEO</h5>
                    <p class="text-dark">Drive traffic to your company by leveraging the power of search engine optimizatin and cheap online ads.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content Text -->
                <div class="service_single_content text-center mb-30 active wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/img/service/Sales-Icon.png" alt="" class="servicesizelimit">
                    </div>
                    <h5>Marketing</h5>
                    <p class="text-dark">Marketing doesn't have to be expensive. Small amounts of money can increase business sales by more than 400%.</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Side Image -->
    <!--
    <div class="side-image">
        <img src="img/bg-img/side-img-1.png" alt="">
    </div>
    -->
</section>
<!-- *****  Our Services Area End *****  -->
