<!--Services Section Start-->
<section class="service-blocks blue1 text-white">
    <div class="container center pt-5">
        <div class="row">
            <div class="col-lg-6 mx-lg-auto">
                <header>
                    <h2>About Us</h2>
                    <p>At merge media, we offer the following services. This is the basic business structure.</p>
                </header>
            </div>
        </div>
        <div class="p-t-b-40">
            <div class="row">
                <div class="col-md-4">
                    <div class="service-block s2 center blue2 text-white">
                        <div class="service-icon">
                            <i class="icon icon-credit-card2 " aria-hidden="true"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="my-3"><a href="#">Technical Support</a></h3>
                            <ul>
                                <li>General Technical Support</li>
                                <li>Networking Support</li>
                                <li>Vulnerability Testing</li>
                                <li>CCTV Installation</li>
                                <br />
                                <br />

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-block s2 center blue3 text-white">
                        <div class="service-icon">
                            <i class="icon icon-organization-1" aria-hidden="true"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="my-3"><a href="#">Development Studio</a></h3>
                            <ul>
                                <li>Develop Websites</li>
                                <li>Develop Web Apps</li>
                                <li>Develop Cloud Solutions</li>
                                <li>Develop API's</li>
                                <li>Develop Chatbots</li>
                                <li>Develop Artificial Intelligent Apps</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-block s2 center blue4 text-white">
                        <div class="service-icon">
                            <i class="icon icon-diamond2" aria-hidden="true"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="my-3"><a href="#">Managed Cloud Hosting</a></h3>
                            <ul>
                                <li>We host your website, app or database solution on Microsoft Azure and manage everything for you. Our smallest plan starts you off from R99 p/m. Go to the <a asp-controller="Home" asp-action="Hosting">Hosting</a> Page for more information.</li>
                                <br />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--Services Section End-->
