<!-- ***** Video Area Start ***** -->
<section class="video_area bg-fixed clearfix bg-overlay-3" style="background-image: url(img/bg-img/bg-4.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <!-- Heading Text -->
            <div class="col-12">
                <div class="video-text text-center">
                    <a href="https://youtu.be/H2zAaQicuAI" class="video_button"> <i class="icofont icofont-play-alt-3"></i></a>
                    <h2>Watch Our Company Success Histoy</h2>
                    <p>Its take only 2:30 min</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *****  Video Area End *****  -->