@*<!-- ***** Wellcome Area Start ***** -->
    <section class="welcome_slides_area clearfix" id="home">
        <!-- Welcome Slides -->

        <div class="welcome_slides owl-carousel">
            <div class="welcome_area height-800 bg-img bg-overlay5" style="background-image: url(/img/bg-img/mergemedia_megaphone.jpg);">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text home-2 text-center">
                                <h2>We will build your brand.</h2>
                                <p>We focus on digital marketing, graphic design & Motion Graphics. All Required to make your brand stand out!</p>
                                <a href="#" class="welcome-btn mt-15">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome_area height-800 bg-img bg-overlay5" style="background-image: url(/img/bg-img/mergemedia_speed.jpg);">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text home-2 text-center">
                                <h2>Rapid Development.</h2>
                                <p>We focus on keeping our clients happy by making sure their demands are met sooner rather than later. If possible, within 48 hours.</p>
                                <a href="#" class="welcome-btn mt-15">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome_area height-800 bg-img bg-overlay5" style="background-image: url(img/bg-img/mergemedia_shake.jpg);">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text home-2 text-center">
                                <h2>You are our success story.</h2>
                                <p>We focus on developing lasting relationships with our clients. When you succeed, we succeed.</p>
                                <a href="#" class="welcome-btn mt-15">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome_area height-800 bg-img bg-overlay5" style="background-image: url(/img/bg-img/mergemedia_graphs.jpg">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text home-2 text-center">
                                <h2>All softare welcome.</h2>
                                <p>Whether you need a website, Desktop or Smartphone application. We can make that happen without breaking your bank.</p>
                                <a href="#" class="welcome-btn mt-15">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->*@

<!-- ***** Wellcome Area Start ***** -->
<section class="welcome_area fullwidth clearfix" id="home">

    <canvas id='world'></canvas>

    <div class="trail-welcome-content">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <!-- Welcome Text -->
                <div class="col-12">
                    <div class="welcome-text">
                        <h2>Are you ready to take your busines to the next level?</h2>
                        <p>We will take care of all your software needs and build your brand.</p>
                        <a href="#" class="welcome-btn mt-15">Get a Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->