<!-- *****  Who We Are Start *****  -->
<section class="who_we_are_area section_padding_90_100 clearfix" id="about">
    <div class="container">
        <div class="row">
            <!-- Heading Text -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Who Are We?</h2>
                    <p>Bespoke Software Development &amp; Digital Marketing Company</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <!-- Image -->
                <div class="who_we_image">
                    <img src="~/img/bg-img/mergemedia_projects_result.jpg" alt="">
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <!-- Content Text -->
                <div class="who_we_contant_text">
                    <h2>We want to be the people to help you succeed!</h2>
                    <p>If you have an idea that you want to turn into reality we can help you make that happen! Whether that be an Artificial Intelligence Application, Smartphone app, website, bot or Desktop App.</p>
                    <a class="tomcat-btn" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *****  Who We Are Area End *****  -->