
@{
    ViewData["Title"] = "received";
}

<h2>Message received. If you do not receive a response within 48 hours. Be sure to email info@mergemedia.co.za directly.</h2>
<a href="www.mergemedia.co.za">Go Back</a>

