
<header class="header">
    <div class="header__content header__content--fix-width">
        <div class="header__logo-title"><img class="icon" src="~/icon.png" alt=""></div>
        <nav class="header__menu">
            <ul>
                <li><a class="selected header-link" href="#intro">HOME</a></li>
                <li>
                    <a href="#description" class="header-link">SOLUTIONS</a>
                </li>
                <li><a href="#pricing" class="header-link">PRICING</a></li>
                <li><a href="#contact" class="header-link">CONTACT</a></li>
                <li><a href="~/Portfolio" class="header-link">PORTFOLIO</a></li>
                <li class="header__btn header__btn--login modal-toggle" data-openpopup="signuplogin" data-popup="login"><a href="#">LOGIN</a></li>

            </ul>
        </nav>
    </div>
</header>