    <!-- ***** Header Area Start ***** -->
<header class="header-area">
    <div class="classy-nav-container breakpoint-off">
        <div class="row">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="classyNav">

                <!-- Logo -->
                <a class="" href="index.html"><img style="height:40px;" class="custom-icon" src="~/icon.png" height:80%;" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li>
                                <a href="~/#intro">Home</a>

                            </li>
                            <li><a href="~/#solutions">Solutions</a></li>
                            <li>
                                <a href="~/#pricing">Pricing</a>

                            </li>

                            <li><a href="~/#contact">Contact</a></li>
                            
                        </ul>

                        <!-- Button -->
                        
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->