<div id="dl-menu" class="xv-menuwrapper responsive-menu">
    <ul class="dl-menu align-items-center">

        @*<li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a> </li>*@
        <li><a href="#">Home</a></li>

        <li class="">
            <a href="#">About</a>
        </li>
        <li class="">
            <a href="#">Technologies</a>
        </li>

        <li class="">
            <a href="#">Portfolio</a>
        </li>
        <li class="">
            <a href="#">Contact</a>
        </li>
        <li class="">
            <a href="#">Hosting<i class="icon icon-shopping-bag2"></i></a>
        </li>
        <li>
            <a href="#modalLogin" data-toggle="modal" data-target="#modalLogin">
                Login
            </a>
        </li>
        <li>
            <a href="#modalSignUp" class="btn btn-primary nav-btn" data-toggle="modal"
               data-target="#modalSignUp">
                Sign
                Up
            </a>
        </li>
    </ul>
</div>
