<div id="dl-menu" class="xv-menuwrapper responsive-menu">
    <ul class="dl-menu align-items-center">

        @*<li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a> </li>*@
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>

        <li class="">
            <a asp-controller="Home" asp-action="About">About</a>
        </li>
        <li class="">
            <a asp-controller="Home" asp-action="Technologies">Technologies</a>
        </li>

        <li class="">
            <a asp-controller="Home" asp-action="Portfolio">Portfolio</a>
        </li>
        <li class="">
            <a asp-controller="Home" asp-action="Contact">Contact</a>
        </li>
        <li class="">
            <a asp-controller="Home" asp-action="Hosting">Hosting</a>
        </li>
        <li>
            <a class="" href="#modalLogin" data-toggle="modal" data-target="#modalLogin">
                Login
            </a>
        </li>
        <li>
            <a href="#modalSignUp" class="btn btn-primary nav-btn" data-toggle="modal"
               data-target="#modalSignUp">
                Sign
                Up
            </a>
        </li>
    </ul>
</div>
