<!-- ***** Bottom Footer Area Start *****  -->
<div class="bottom-footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer_area d-md-flex justify-content-between">
                    <!-- Footer Text -->
                    <div class="copywrite_text">
                        <p>Made With <i class="fa fa-heart"></i> by <a href="https://themeforest.net/user/designing-world/portfolio" target="_blank"> &copy; Merge Media</a></p>
                    </div>
                    <!-- Icon -->
                    <div class="footer_icon">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-2 pt-4">
                <h6>Quick Links</h6>
                <ul class="text-capitalize">
                    <li>
                        <a href="#">Features</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Community</a>
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ***** Bottom Footer Area End *****  -->
