<!-- ***** Bottom Footer Area Start *****  -->
<div class="bottom-footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer_area d-md-flex justify-content-between">
                    <!-- Footer Text -->
                    <!-- Icon -->
                    <style>
                        .bigger {
                            font-size: 20px;
                        }
                    </style>
                    <div class="footer_icon">
                        <a href="#"><i class="fab fa-facebook" style="font-size:20px;" aria-hidden="true"></i></a>
                        <a href="#"> <i class="fab fa-twitter" style="font-size:20px;" aria-hidden="true"></i></a>
                        <a href="#"><i class="fab fa-google-plus" style="font-size:20px;" aria-hidden="true"></i></a>

                    </div>


                </div>

            </div>
            <div class="col-6 col-lg-2 pt-4">
                <h6>Quick Links</h6>
                <ul class="text-capitalize ">
                    <li>
                        <a href="~/" class="light-grey">Home</a>
                    </li>
                    <li>
                        <a href="~/Blog" class="light-grey">Blog</a>
                    </li>
                    <li>
                        <a href="~/Home#contact" class="light-grey">Contact</a>
                    </li>
                    <li>
                        <a href="~/files/Alvexo-Traders_2018_Playbook.pdf" target="_blank" class="light-grey">Documentation</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 pt-4">
                <h6>Policy</h6>
                <ul class="text-capitalize ">
                    <li>
                        <a href="https://www.saica.co.za/Portals/0/Technical/LegalAndGovernance/InfoRegSARegulations.pdf" class="light-grey">POPI Act</a>
                    </li>
                    <li>
                        <a href="~/files/Merge_Group_PAIA.pdf" target="_blank" class="light-grey">PAIA</a>
                    </li>
                    <li>
                        <a href="~/files/Bank Details.pdf" target="_blank" class="light-grey">Banking Details</a>
                    </li>
                    
                </ul>
            </div>


        </div>
        <div class="copywrite_text pt-2">
            <p>Made With <i class="fa fa-heart"></i> by <a href="http://www.mergemedia.co.za" target="_blank"> &copy; Merge Media &trade; A division of Merge Group (PTY) LTD - B No. 2018/029741/07 TAX: 9114677231</a></p>
        </div>
    </div>
</div>
<!-- ***** Bottom Footer Area End *****  -->
