
<div class="modal fade" id="modalLogin" tabindex="-1"
     role="dialog" aria-labelledby="Login">
    <div class="modal-dialog width-400 animatedParent animateOnce" role="document">
        <div class="modal-content no-r ">
            <a href="#" data-dismiss="modal" aria-label="Close"
               class="paper-nav-toggle active"><i></i></a>
            <div class="modal-body no-p">
                <div class="text-center p-40 p-b-0">
                    
                    <div role="alert" class="alert alert-danger">
                        <strong>Login / Sign Up has temporarily been deactivated.</strong> Sorry for the inconveniance. We are busy upgrading our own database systems. If you have any urgent requests please feel free to contact support.
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>

