
<nav class="mainnav navbar navbar-default justify-content-between">
    <div class="container relative">
        <a class="offcanvas dl-trigger paper-nav-toggle" type="button" data-toggle="offcanvas"
           aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i></i>
        </a>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img class="d-inline-block align-top favicon" alt="" src="~/images/icons/icon.png">
        </a>
        <div class="paper_menu">
            <!-- partial:_menu.html -->
            <!-- partial -->
            @await Html.PartialAsync("_Menu")
        </div>
    </div>
</nav>